body {
    background: url(../images/biceps-bodybuilding-chinese-1111304.jpg)
    no-repeat center center fixed;
    background-size: cover;

}

div {
    background-color: tomato;
    width: 60%;
    text-align: center;
    margin: 300px auto;
    border-radius: 25px;
    opacity: 0.8;
    
}
h1 {
    color: mintcream;
    font-size: 4em;
    font-family: 'Baloo Chettan', cursive;
}
p{
    color: white;
    font-size: 34px;
    font-family: 'Baloo Chettan', cursive;
}

button{
    background-color: slateblue;
    padding: 20px;
    color: white;
    font-size: 2em;
    font-family: 'Baloo Chettan', cursive;
}